<article class="article-home-index">
        <img src="/images/<%= destino.imagen %>" alt="article-1">
        <p class="p-article"><%= destino.nombre %></p>
        <h2 class="p-article">$<%= destino.precio %></h2>
    </article>