<footer>
    <nav class="nav-footer">
      <ul class="ul-nav-footer">
        <li><a href="">MI RESERVA</a></li>
        <li><a href="">EXPERIENCIA</a></li>
        <li><a href="">DESTINOS</a></li>
        <li><a href="">VIAJÁ</a></li>
        <li><a href="">AYUDA</a></li>
      </ul>
    </nav>
    <div>
      <a class="copyright2023" href=""><span>Copyright 2023</span></a>
    </div>
  </footer>