<header class="header-container">
    <a class="a-container-img" href="">
      <img class="img-logo" src="/images/southwest_airlines_logo_detail_blue.png" alt="logo">
    </a>

    <nav class="nav-header">
      <ul class="ul-nav-header">
        <li><a href="">Mi reserva</a></li>
        <li><a href="">Experiencia</a></li>
        <li><a href="">Destinos</a></li>
        <li><a href="">Viajá</a></li>
      </ul>
    </nav>

    <button class="button-checkin">
      Check in
    </button>
  </header>