.main-home-index{
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-home-index img{
    width: 100%;
    height: 600px;
}

.main-home-index h1{
    color: #002699;
    padding: 20px 0px;
    margin-top: 40px;
}

.section-home-index{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-home-index img{
    width: 300px;
    height: 350px;
}

.article-home-index{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    padding: 10px 15px;
    border: 1px solid #001e792d;
    transition: 0.6s;
}

.article-home-index:hover{
    box-shadow: 7px 9px 12px 1px rgba(166,166,166,0.75);
    -webkit-box-shadow: 7px 9px 12px 1px rgba(166,166,166,0.75);
    -moz-box-shadow: 7px 9px 12px 1px rgba(166,166,166,0.75);
    transition: all 400ms;
    .p-article{
        opacity: 1;
    }
}    

.p-article{
    transition: 500ms;
    font-size: 14px;
    margin-bottom: 5px;
    opacity: 0;
}

.button-main-home{
    padding: 15px;
}
