<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="main-home-index">
        <h1>DETALLE DE PRODUCTO</h1>
        
        <section class="section-home-index">

        

        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>