<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="main-home-index">
        <h1>DETALLE DE PRODUCTO</h1>
        
        <section class="section-home-index">

            <form action="">
                <label for="">Nombre del destino</label>
                <input type="text" name="nombre" id="">
                <label for="">Precio del destino</label>
                <input type="text" name="precop" id="">
                <label for="">Imagen del destino</label>
                <input type="file" name="imagen" id="">
            </form>

        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>